body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
    background-image:url("./images/App2.jpg");
    background-size:cover;
    border:1px solid rgba(191,224,231,.01);
}

a{
    color:black;
}

a:hover{
    text-decoration: none;
}


/*
=========
Login Page and Form Styling
=========
*/

.login{
    background-image:url("./images/App2.jpg");
    background-size:cover;
    background-position: center;


}

.productHighlights{

}

.formContainer{
    background-color: rgb(55,96,105);
    border-radius:3px;
    color:whitesmoke;
}

/*
=========
Navbar
=========
*/
.navbar{
    min-height:75px;
    background-color:rgb(233,236,239);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

.logout{
    width:65px;
    height:25px;
    padding: 0;
}

/*
=========
Journal
=========
*/
.journal{
    background-image:url("./images/journal_cover.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:2px;
    width:483px;
    min-height: 640px;
    /* border: 1px solid black; */
}

.journalPageContainer{
    background-color: rgba(55,96,105,0.5);
    padding: 25px;
    border-radius: 5px;
    box-sizing: border-box;
}

.journalPageContainer h1{
    color:whitesmoke;
}

.addChildBtn{
    background-color:saddlebrown;
    color:white;
}

.childBtn{
    background-color:peru;
    color:white;
}

.page{
    background-image:url("./images/journal_paper.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    border-radius:2px;
    min-height: 75vh;
    width: 100%;
    border-radius:4px;
}

.entry{
    width:100%;
    border:2px solid rgba(169,169,169,0.5);
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgb(105,105,105);
}

.details{
    border:2px solid rgba(156,125,98,0.5);
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgb(105,105,105);
    min-width:45%;
}

/*
=========
Chart
=========
*/
.chartContainer{
    background-image:url("./images/chart_paper.jpg");
    border-radius:3px;
}

.chartContainer h3{
    background-color: rgba(233,236,239,0.8);
    padding:20px;
    border-radius: 3px;
}

.chartAvgs{
background-color: rgb(233,236,239);
box-sizing: border-box;
border-radius: 3px;
padding:20px;
}

.chartChildLink{
    font-weight: normal;
    font-size: 16px;
    padding-left: 10px;
}

.lineChart{
    background-color: rgb(233,236,239);
    box-sizing: border-box;
    border-radius: 3px;
    padding:20px;
}

.childAvgChart{
    background-color: rgb(233,236,239);
    box-sizing: border-box;
    border-radius: 3px;
    padding:20px;
    margin:20px 10px;
    width: 100%;
    height: 100%;
}

.childCharts{
    background-color: rgb(233,236,239);
    box-sizing: border-box;
    border-radius: 3px;
    padding:20px;
    width:400px;
    height:250px;
}

/*
=========
Email
=========
*/
.emailBody{
    background-color:#94AFB5;
    color: black;
    padding:20px;
    margin:20px 0;
    border-radius: 3px;
}
